.Rproj.user
.Rhistory
.RData
.Ruserdata
JEC-test
dispersion200m.csv
dispersion0m.csv
0mJEC-Feb2012-gdas-6hr.txt
200mJEC-Feb2012-gdas-6hr.txt
datetest
ASCDATA.CFG
CONC.CFG
MESSAGE
VMSDIST
WARNING
CON2ASC.OUT