.Rproj.user
.Rhistory
.RData
.Ruserdata
JEC-test
dispersion200m.csv
dispersion0m.csv
0mJEC-Feb2012-gdas-6hr.txt
200mJEC-Feb2012-gdas-6hr.txt
datetest
ASCDATA.CFG
CONC.CFG
MESSAGE
VMSDIST
WARNING
CON2ASC.OUT
CONTROL
JEC-A-2012
JEC-E-2012
JSC-A-2012
JSC-E-2012
TCG-A-2012
TCG-E-2012